@import '../../../styles/variables'

// Container
.login-container
  position: fixed
  background: $login-container-background
  height: 100dvh
  width: 100vw

// Title Container
.login-title-container
  width: 250px
  background: $login-title-container-background

.login-title-text
  color: $login-title-text-color
  font-weight: 700
