@import '../../../../styles/variables'

// Title Text
.content-view-title-text
  color: $content-view-title-text-color
  font-weight: 600
  font-size: 1.26rem
  letter-spacing: 0.05rem

// Content Container
.content-view-content-container
  background: $content-view-content-container-background
  min-height: 60px
  cursor: pointer
  transition: background 100ms ease-in
.content-view-content-container:hover
  background: $content-view-content-container-hover-background

// Scroll Container
.scroll-container
  position: relative
  overflow-y: scroll
  height: calc(100dvh - 110px)
  width: 100%
  scrollbar-width: none
  -ms-overflow-style: none
.scroll-container::-webkit-scrollbar
  display: none

// Content Title
.content-view-content-title
  color: $content-view-content-title-color
  font-size: 1.05rem
  font-weight: 600
  line-height: 1.3rem

// Content Detail
.content-view-content-detail-text
  color: $content-view-content-detail-text-color
  font-size: 1.05rem
  font-weight: 300

// Create Content Button
.content-view-button-upload-container
  background: $content-view-button-upload-background
  position: absolute
  right: 0
  bottom: 0
  width: 60px
  height: 60px
  cursor: pointer
  transition: background 120ms ease-in
.content-view-button-upload-container:hover
  background: $content-view-button-upload-background-hover

.content-view-button-upload-svg
  width: 35px
  height: 35px

// Upload Card Container
.content-view-upload-container
  position: absolute
  left: 0
  top: 0
  transform: translateX(300%)
  transition: transform 100ms ease-in

.content-view-upload-container-open
  transform: translateX(0)

// Detail Card Container
.content-view-detail-container
  position: absolute
  left: 0
  top: 0
  transform: translateX(300%)
  transition: transform 100ms ease-in

.content-view-detail-container-open
  transform: translateX(0)
