@import '../../../styles/variables'

.view-container
  background: $view-container-background
  width: calc(100vw - 275px)
  height: calc(100dvh - 30px)
  @media screen and (max-width: 576px)
    width: calc(100vw - 25px)
