// Global
$global-text-box-container-background: #F5F1E0
$global-text-box-text-color: #6D6A5D
$global-text-box-container-selection-background: #6D6A5D
$global-text-box-text-selection-color: #F5F1E0
$global-text-box-text-hover-color: #F6F3E1
$global-file-upload-container-background: #F6F4EB
$global-button-background: #F8F3DC

// Main
$main-container-background: #3ECFCA
$main-title-container-background: #FCF2A5
$main-title-text-color: #525147

// Nav Rack Item
$nav-rack-item-text-color: #939180
$nav-rack-item-container-background: #F9F7EF
$nav-rack-item-text-active-color: #525147
$nav-rack-item-container-active-background: #FCF2A5 !important
$nav-rack-item-container-hover-background: #FFFBEA

// View Container
$view-container-background: #FCF9ED

// Content Episode Selection
$content-view-title-text-color: #79786C
$content-view-content-container-background: #F6F3E2
$content-view-content-container-hover-background: #FAF6E2
$content-view-content-title-color: #898468
$content-view-content-detail-text-color: #AFAA92
$content-view-upload-title-text-color: #79786C
$content-view-upload-container-background: #FCF9ED
$content-view-button-upload-background: #71E7DA
$content-view-button-upload-background-hover: #78F5E7
$content-view-upload-container-background: #FCF9ED

// Content Episode Detail
$content-view-content-detail-nav-title-text-color: #807C54
$content-view-content-detail-info-box-container-background: #F2EFE2
$content-view-content-detail-info-box-container-hover-background: #F4F1E4
$content-view-content-detail-info-box-text-color: #7D7A5F
$content-view-content-detail-info-box-highlight-text-color: #2BBCC1
$content-view-content-detail-info-detail-text-color: #6B6758
$content-view-content-detail-button-reupload-background: #FCF18B
$content-view-content-detail-button-reupload-color: #887F2A
$content-view-content-detail-button-delete-background: #F3AE84
$content-view-content-detail-button-delete-background-hover: #F2965E
$content-view-content-detail-button-delete-color: #72320B

// Content Episode Upload
$content-view-upload-button-background: #C2FBE3
$content-view-upload-button-color: #2F7DAA
$content-view-upload-button-hover-background: #CDFBE8
$content-view-upload-progress-text-color: #31302B
$content-view-upload-progress-circle-background: #EBE8DC
$content-view-upload-progress-circle-foreground: #31302B
