// Main
$main-container-background: #4FD9D4
$main-title-container-background: #FFF8C1
$main-title-text-color: #67665D

// Nav Rack Item
$nav-rack-item-text-color: #AFAC96
$nav-rack-item-container-background: #F9F7EF
$nav-rack-item-text-active-color: #67665D
$nav-rack-item-container-active-background: #FFF8C1 !important
$nav-rack-item-container-hover-background: #FFFBEA

// View Container
$view-container-background: #FCF9ED
