// Global
$global-text-box-container-background: #F1EEDE
$global-text-box-text-color: #98958B
$global-text-box-container-selection-background: #98958B
$global-text-box-text-selection-color: #F1EEDE
$global-file-upload-container-background: #F6F4EB

// Main
$main-container-background: #3ECFCA
$main-title-container-background: #FFF8C1
$main-title-text-color: #67665D

// Nav Rack Item
$nav-rack-item-text-color: #AFAC96
$nav-rack-item-container-background: #F9F7EF
$nav-rack-item-text-active-color: #67665D
$nav-rack-item-container-active-background: #FFF8C1 !important
$nav-rack-item-container-hover-background: #FFFBEA

// View Container
$view-container-background: #FCF9ED

// Content View
$content-view-title-text-color: #79786C
$content-view-upload-title-text-color: #79786C
$content-view-button-create-content-background: #F2F0E7
$content-view-upload-container-background: #FCF9ED

// Upload Episode
$content-view-upload-button-background: #C2FBE3
$content-view-upload-button-color: #2F7DAA
$content-view-upload-progress-text-color: #31302B
$content-view-upload-progress-circle-background: #EBE8DC
$content-view-upload-progress-circle-foreground: #31302B
