@import '../../styles/variables'

// Container
.main-container
  position: fixed
  background: $main-container-background
  height: 100dvh
  width: 100vw

// Title Container
.main-title-container
  width: 260px
  background: $main-title-container-background

.main-title-text
  font-family: 'Freckle Face', sans-serif !important
  font-size: 1.8rem
  letter-spacing: 0.15rem
  color: $main-title-text-color
  font-weight: 700

// Background SVG
.main-container-background-svg
  position: fixed
  bottom: -120px
  z-index: -1
