@import '../../../../../styles/variables'

.content-view-detail-container
  background: $content-view-upload-container-background

// Title Nav Text
.content-view-detail-nav-title-text
  color: $content-view-content-detail-nav-title-text-color
  font-size: 1.2rem
  font-weight: 700
  letter-spacing: 0.05rem

// Button Nav Back
.content-view-detail-button-back
  cursor: pointer


// Info Box
.content-view-content-detail-info-box-container
  background: $content-view-content-detail-info-box-container-background
.content-view-content-detail-info-box-text
  color: $content-view-content-detail-info-box-text-color
.content-view-content-detail-info-box-highlight-text
  color: $content-view-content-detail-info-box-highlight-text-color
