@import '../../../../../styles/variables'

.content-view-detail-container
  background: $content-view-upload-container-background

// Title Nav Text
.content-view-detail-nav-title
  font-weight: 600
  letter-spacing: 0.05rem

// Button Nav Back
.content-view-detail-button-back
  cursor: pointer
