@import '../../../../../styles/variables'

.content-view-upload-title-text
  color: $content-view-upload-title-text-color
  font-weight: 600
  font-size: 1.26rem
  letter-spacing: 0.05rem

.content-view-upload-container
  background: $content-view-upload-container-background

.content-view-upload-button-container
  cursor: pointer
  background: $content-view-upload-button-close-background
  width: 60px
  height: 60px
  border-radius: 50px


// Close Button
.content-view-upload-button-close-svg
  width: 35px
  height: 35px

// Upload Button
.content-view-upload-button
  background: $content-view-upload-button-background
  color: $content-view-upload-button-color
  font-size: 1.4rem
  font-weight: 600
  letter-spacing: 0.05rem
  cursor: pointer
  transition: background 50ms ease-in
.content-view-upload-button:hover
  background: $content-view-upload-button-hover-background

.content-view-upload-button-svg
  width: 40px
  height: 40px

.content-view-upload-label
  letter-spacing: 0.05rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


// Upload Progress
.content-view-upload-progress-text
  color: $content-view-upload-progress-text-color
  font-weight: 400
  font-size: 1rem

.content-view-upload-progress-animation
  transform: scale(65%)
