@import '../../../../../styles/variables'

.content-view-upload-title-text
  color: $content-view-upload-title-text-color
  font-weight: 600
  font-size: 1.26rem
  letter-spacing: 0.05rem

.content-view-upload-container
  background: $content-view-upload-container-background

.content-view-upload-button-container
  cursor: pointer

.content-view-upload-button-close-svg
  width: 35px
  height: 35px
