
body
  background: #F1EDCF !important
  font-family: 'Poppins', sans-serif !important
  cursor: default !important

a:focus
  outline: none
a
  text-decoration: none !important
  cursor: pointer !important

.no-gutters
  padding: 0 !important
  margin: 0 !important
