@import 'styles/variables'

body
  background: #F1EDCF !important
  font-family: 'Poppins', sans-serif !important
  cursor: default !important

a:focus
  outline: none
a
  text-decoration: none !important
  cursor: pointer !important

.no-gutters
  padding: 0 !important
  margin: 0 !important

// Text Box Styling
.text-box-container
  background: $global-text-box-container-background
  height: 55px
  font-size: 1.2rem
  font-weight: 700
  cursor: text

.text-box
  border: 0
  background: none
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  letter-spacing: 0.1rem
  color: $global-text-box-text-color
  caret-color: $global-text-box-text-color

.text-box:focus
  outline: none

.text-box::placeholder
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  letter-spacing: 0.1rem
  color: $global-text-box-text-color

.text-box::selection
  background: $global-text-box-container-selection-background
  color: $global-text-box-text-selection-color


// Text Area
.text-area-container
  background: $global-text-box-container-background
  height: 100%
  font-size: 1.2rem
  font-weight: 700
  cursor: text

.text-area
  border: 0
  background: none
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  letter-spacing: 0.1rem
  resize: none
  color: $global-text-box-text-color
  caret-color: $global-text-box-text-color

.text-area:focus
  outline: none

.text-area::selection
  background: $global-text-box-container-selection-background
  color: $global-text-box-text-selection-color

.text-area::placeholder
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  letter-spacing: 0.1rem
  color: $global-text-box-text-color

// File Upload Box
.file-upload-container
  background: $global-text-box-container-background
  color: $global-text-box-text-color
  height: 75px
  font-size: 1.2rem
  font-weight: 700
  cursor: pointer

.file-upload-icon-container
  position: relative
  background: $global-file-upload-container-background
  width: 75px
  height: 75px

.file-upload-icon-svg
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 33px
  height: 33px
