@import 'styles/variables'

body
  background: #F1EDCF !important
  font-family: 'Poppins', sans-serif !important
  cursor: default !important

.row
  padding: 0 !important
  margin: 0 !important

.col
  padding: 0 !important
  margin: 0 !important


a:focus
  outline: none
a
  text-decoration: none !important
  cursor: pointer !important

.no-gutters
  padding: 0 !important
  margin: 0 !important

// Text Box
.text-box-container
  background: $global-text-box-container-background
  height: 55px
  font-size: 1.2rem
  font-weight: 700
  cursor: text
  transition: background 50ms ease-in
.text-box-container:hover
  background: $global-text-box-text-hover-color

.text-box
  border: 0
  background: none
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  caret-shape: block
  letter-spacing: 0.1rem
  color: $global-text-box-text-color
  caret-color: $global-text-box-text-color

.text-box:focus
  outline: none

.text-box::placeholder
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  letter-spacing: 0.1rem
  color: $global-text-box-text-color

.text-box::selection
  background: $global-text-box-container-selection-background
  color: $global-text-box-text-selection-color

// Text Area
.text-area-container
  background: $global-text-box-container-background
  height: 100%
  font-size: 1.2rem
  font-weight: 700
  cursor: text
  transition: background 50ms ease-in
.text-area-container:hover
  background: $global-text-box-text-hover-color

.text-area
  border: 0
  background: none
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  letter-spacing: 0.1rem
  resize: none
  color: $global-text-box-text-color
  caret-color: $global-text-box-text-color
  caret-shape: block

.text-area:focus
  outline: none

.text-area::selection
  background: $global-text-box-container-selection-background
  color: $global-text-box-text-selection-color

.text-area::placeholder
  font-family: 'Poppins', sans-serif
  font-weight: 700
  font-size: 1.2rem
  letter-spacing: 0.1rem
  color: $global-text-box-text-color

// File Upload Box
.file-upload-container
  background: $global-text-box-container-background
  color: $global-text-box-text-color
  height: 65px
  font-size: 1.2rem
  font-weight: 700
  cursor: pointer
  transition: background 50ms ease-in
.file-upload-container:hover
  background: $global-text-box-text-hover-color

.file-upload-icon-container
  position: relative
  background: $global-file-upload-container-background
  width: 65px
  height: 65px

.file-upload-icon-svg
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 33px
  height: 33px

// Close Button
.global-button-container
  position: relative
  height: 60px
  width: 60px
.global-button-container:hover .global-button-bloom
  transform: scale(1.7)

.global-button-svg
  position: absolute
  cursor: pointer
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  z-index: 1

.global-button-bloom
  position: absolute
  cursor: pointer
  top: 23.35%
  left: 23.35%
  transform: scale(0)
  background: $global-button-background
  border-radius: 50px
  z-index: 0
  transition: transform 130ms ease-in
