@import '../../../../styles/variables'

// Rack Item Container
.rack-item-container
  background: $nav-rack-item-container-background
  width: 275px

.rack-item-label
  color: $nav-rack-item-text-color
  letter-spacing: 0.14rem
  font-weight: 700
  font-size: 1.4rem

.rack-item-active
  background: $nav-rack-item-container-background
