@import '../../../../styles/variables'

.rack-item-container
  background: $nav-rack-item-container-background
  width: 275px

.rack-item-label
  color: $nav-rack-item-text-color
  font-weight: 700
  font-size: 1.4rem
